{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="A useful tool for shortening long URLs | URL Shortener.">
    <title>URL Shortener</title>
    <link rel="stylesheet" href="{% static "Link/style/reset.css" %}">
    <link rel="stylesheet" href="{% static "Link/style/app.css" %}">
</head>
<body>
<!-- All App Icons -->
<svg style="display: none">
    <symbol id="copy-svg" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round"
              d="M15.666 3.888A2.25 2.25 0 0 0 13.5 2.25h-3c-1.03 0-1.9.693-2.166 1.638m7.332 0c.055.194.084.4.084.612v0a.75.75 0 0 1-.75.75H9a.75.75 0 0 1-.75-.75v0c0-.212.03-.418.084-.612m7.332 0c.646.049 1.288.11 1.927.184 1.1.128 1.907 1.077 1.907 2.185V19.5a2.25 2.25 0 0 1-2.25 2.25H6.75A2.25 2.25 0 0 1 4.5 19.5V6.257c0-1.108.806-2.057 1.907-2.185a48.208 48.208 0 0 1 1.927-.184"/>
    </symbol>
</svg>
<span class="notification">Copied to your keyboard.</span>
<div class="box">
    <div class="blue"></div>
    <div class="red"></div>
    <form action="" class="form" method="post">
        {% csrf_token %}
        <h1 class="title">URL Shortener</h1>
        <div class="url">
            <label for="url">URL :</label>
            <input type="url" id="url" placeholder="Enter your URL" name="url">
        </div>
        <button type="submit">Cut short</button>
        <div class="url-shortened">
            <label for="url-shortened">Copy the shortened URL :</label>
            <div class="url-shortened-wrapper">
                <svg class="copy-svg">
                    <use href="#copy-svg"></use>
                </svg>
                <input id="url-shortened" placeholder="Copy shortened URL" {% if link %}value="127.0.0.1:8000/{{ link }}"{% endif %}>
            </div>
        </div>
    </form>
</div>

<script src="{% static "Link/script/app.js" %}"></script>
</body>
</html>